/* Reduce side navbar width */
.bb-ui-nav-collapsed [data-testid="ContextualNavigation"] {
  width: 65px !important;
}

.bb-ui-nav-collapsed [data-testid="Content"] {
  padding-left: 65px !important;
}

/* Collapse button */
[data-qa-id="expand-collapse-button"] {
  transform: translate(-100%) !important;
}