/* Main content */
[data-testid="Content"] > div > div > :first-child {
  order: 1 !important;
}

/* Sidebar with files */
#bb-sidebar {
  order: 0 !important;
}

/* Sidebar drag */
#bb-sidebar [aria-label="Sidebar"] > div:first-child {
  right: 0 !important;
  left: auto !important;
}

/* Sticky bar at top */
[data-testid="Content"] [data-qa="pr-header-page-header-wrapper"] + div[offset] {
  left: 0 !important;
  right: 0 !important;
  width: calc(100% - 80px) !important;
  position: sticky !important;
}

/* PR # badge */
.bb-ui-pr-num {
  transform: translateX(-1px);
  font-weight: bold;
}
